// .our-examples {
//   padding-top: 84px;
//   padding-bottom: 84px;

//   @media screen and (min-width: 768px) and (max-width: 1279px) {
//     padding-top: 100px;
//     padding-bottom: 101px;
//   }

//   @media screen and (min-width: 1280px) {
//     padding-top: 130px;
//     padding-bottom: 130px;
//   }
// }

.caption {
  display: flex;
  justify-content: left;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 44px;
  position: relative;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;

  @media screen and (max-width: 767px) {
    width: 338px;
    line-height: 1.91;
  }

  @media screen and (min-width: 768px) {
    margin-left: 80px;
  }

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -80px;
    bottom: 72%;
    width: 60px;
    height: 1px;
    background-color: #303030;

    @media screen and (min-width: 768px) {
      bottom: 45%;
    }

    // content: '';
    // position: absolute;
    // display: inline-block;
    // width: 1px;
    // height: 60px;
    // color: #303030;
    // transform: rotate(90deg);;
  }
}

.thumb {
  height: 360px;
  @media screen and (max-width: 767px) {
    width: 418px;
    //   outline: 1px solid red;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 330px;
  }

  @media screen and (min-width: 1280px) {
    width: 270px;
  }
}

.examples img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    object-position: left;
  }

  @media screen and (min-width: 1280px) {
    object-position: left;
  }
}

.examples-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.examples {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.examples-item {
  margin: 15px;
}
