.caption {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 44px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;

  @media screen and (max-width: 767px) {
    width: 358px;
    line-height: 1.91;
  }

  &::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background: #303030;

    @media screen and (max-width: 767px) {
      margin-top: -18px;
    }
  }
}

.thumb {
  height: 360px;
  @media screen and (max-width: 767px) {
    width: 418px;
    //   outline: 1px solid red;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 330px;
  }

  @media screen and (min-width: 1280px) {
    width: 270px;
  }
}

.examples img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    object-position: left;
  }

  @media screen and (min-width: 1280px) {
    object-position: left;
  }
}

.examples-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.examples {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.examples-item {
  margin: 15px;
}
