ul {
  padding: 0;
  margin: 0;
}
.prices {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #111319;

  @media screen and(max-width:767px) {
    max-width: 767px;
    height: 826px;
    background-image: linear-gradient(
        rgba(17, 19, 25, 0.8),
        rgba(17, 19, 25, 0.8)
      ),
      url(../images/prices/prices_mobile.jpg);
    background-size: 767px 826px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(17, 19, 25, 0.8),
          rgba(17, 19, 25, 0.8)
        ),
        url(../images/prices/prices_mobile@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 3dppx),
      screen and (min-resolution: 288dpi) {
      background-image: linear-gradient(
          rgba(17, 19, 25, 0.8),
          rgba(17, 19, 25, 0.8)
        ),
        url(../images/prices/prices_mobile@3x.jpg);
    }
  }

  @media screen and(min-width:768px) {
    max-width: 768px;
    height: 858px;
    background-image: linear-gradient(
        rgba(17, 19, 25, 0.8),
        rgba(17, 19, 25, 0.8)
      ),
      url(../images/prices/prices_tablet.jpg);
    background-size: 768px 858px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(17, 19, 25, 0.8),
          rgba(17, 19, 25, 0.8)
        ),
        url(../images/prices/prices_tablet@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 3dppx),
      screen and (min-resolution: 288dpi) {
      background-image: linear-gradient(
          rgba(17, 19, 25, 0.8),
          rgba(17, 19, 25, 0.8)
        ),
        url(../images/prices/prices_tablet@3x.jpg);
    }
  }
  @media screen and(min-width:1280px) {
    max-width: 1280px;
    height: 718px;
    background-image: linear-gradient(
        rgba(17, 19, 25, 0.8),
        rgba(17, 19, 25, 0.8)
      ),
      url(../images/prices/prices_desktop.jpg);
    background-size: 1280px 718px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(17, 19, 25, 0.8),
          rgba(17, 19, 25, 0.8)
        ),
        url(../images/prices/prices_desktop@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 3dppx),
      screen and (min-resolution: 288dpi) {
      background-image: linear-gradient(
          rgba(17, 19, 25, 0.8),
          rgba(17, 19, 25, 0.8)
        ),
        url(../images/prices/prices_desktop@3x.jpg);
    }
  }
}
.prices-subtitle {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.6);
    margin-right: 20px;
  }
}
.prices-title {
  margin-bottom: 44px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.pricelist {
  padding: 30px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);

  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: $text-on-black;

  @media screen and(min-width:768px) and (max-width: 1279px) {
    padding: 30px 40px;
  }
  @media screen and(min-width:1280px) {
    display: flex;
    padding: 0;
    background: none;
  }
}
.pricelist .item {
  display: flex;
  align-items: baseline;
}
.prices-border {
  flex-grow: 1;
  margin: 0 6px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}
.pricelist-left {
  @media screen and(min-width:1280px) {
    width: 50%;
    padding: 30px 40px;
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
.pricelist-left .item {
  margin-bottom: 20px;

  @media screen and(min-width:1280px) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.pricelist-right {
  @media screen and(min-width:1280px) {
    width: 50%;
    padding: 30px 40px;
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}
.pricelist-right .item:not(:last-child) {
  margin-bottom: 20px;
}
.prices-box {
  display: flex;
}
.prices-button {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 20px;
  border: 1px solid $primary-orange;
  border-radius: 25px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: $primary-orange;
  }
}
