/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

@import '../base/normalize';
@import '../base/base';
@import '../base/variables';
@import './page-header';
@import './mobile-menu';

@import './header-desktop/header-desktop';
@import './header-desktop/hero';
@import './header-desktop/sidebar';
@import './team-section';
@import './section-prices';
@import './features';
@import './header-desktop/header-bcg';
@import './about-us';
@import './our-examples';
