.page-header {
  background: url(/images/header/1-mobile.jpg);
  background-size: 480px 580px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background: url(/images/header/1-mobile@2x.jpg);
      background-size: 480px 580px;
    }
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    & {
      background: url(/images/header/1-mobile@3x.jpg);
      background-size: 480px 580px;
    }
  }
  @media screen and(min-width:768px) {
    background: url(/images/header/1-tablet.jpg);
    background-size: 609px 680px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background: url(/images/header/1-tablet@2x.jpg);
        background-size: 609px 680px;
      }
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      & {
        background: url(/images/header/1-tablet@3x.jpg);
        background-size: 609px 680px;
      }
    }
  }
  @media screen and(min-width:1280px) {
    margin-left: 155px;
    padding-left: 40px;
    padding-right: 55px;
    background: url(/images/header/1-desktop.jpg);
    background-size: 1125px 680px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background: url(/images/header/1-desktop@2x.jpg);
        background-size: 1125px 680px;
      }
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      & {
        background: url(/images/header/1-desktop@3x.jpg);
        background-size: 1125px 680px;
      }
    }
  }
}
