<section id="#about">
  <div class="container">
    <div class="about-us">
      <div class="image-block-tab">
        <img
          class="image"
          srcset="
            ./images/about-us/img1-330.jpg 1x,
            ./images/about-us/img1-660.jpg 2x,
            ./images/about-us/img1-990.jpg 3x
          "
          src="./images/about-us/img1-330.jpg"
          alt="Стрижка бороды"
        />
        <img
          class="image"
          srcset="
            ./images/about-us/img2-330.jpg 1x,
            ./images/about-us/img2-660.jpg 2x,
            ./images/about-us/img2-990.jpg 3x
          "
          src="./images/about-us/img2-330.jpg"
          alt="Стрижка головы"
        />
      </div>
      <div class="image-block-desk">
        <img
          class="image"
          srcset="
            ./images/about-us/img1-270.jpg 1x,
            ./images/about-us/img1-540.jpg 2x,
            ./images/about-us/img1-810.jpg 3x
          "
          src="./images/about-us/img1-270.jpg"
          alt="Стрижка бороды"
          sizes="(min-width: 960px) 25vw"
        />
        <img
          class="image"
          srcset="
            ./images/about-us/img2-270.jpg 1x,
            ./images/about-us/img2-540.jpg 2x,
            ./images/about-us/img2-810.jpg 3x
          "
          src="./images/about-us/img2-270.jpg"
          alt="Стрижка головы"
        />
      </div>
      <div class="text-block">
        <p class="section-name">О НАС</p>
        <h2 class="section-title">
          Лучший Барбершоп<br />
          твоего города
        </h2>
        <h3 class="section-subtitle">
          Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
          нам.
        </h3>
        <p class="text">
          Мы команда, которая никогда не останавливается на достигнутом и жаждет
          перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
          сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
          волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
          приходит!
        </p>

        <a href="" class="btn">онлайн-запись</a>
      </div>
    </div>
  </div>
</section>
