<section class="our-examples">
  <div class="container">
    <p class="caption">
      На латинском языке “барба” означает “борода”
    </p>

    <ul class="examples">
      <li class="examples-item">
        <div class="thumb">
          <img
            srcset="
              ./images/our-examples/example-1.jpg    1x,
              ./images/our-examples/example-1@2x.jpg 2x,
              ./images/our-examples/example-1@3x.jpg 3x
            "
            src="./images/our-examples/example-1.jpg"
            alt="стрижка"
          />
        </div>
      </li>
      <li class="examples-item">
        <div class="thumb">
          <img
            srcset="
              ./images/our-examples/example-2.jpg    1x,
              ./images/our-examples/example-2@2x.jpg 2x,
              ./images/our-examples/example-2@3x.jpg 3x
            "
            src="./images/our-examples/example-2.jpg"
            alt="барбер"
          />
        </div>
      </li>
      <li class="examples-item">
        <div class="thumb">
          <img
            srcset="
              ./images/our-examples/example-3.jpg    1x,
              ./images/our-examples/example-3@2x.jpg 2x,
              ./images/our-examples/example-3@3x.jpg 3x
            "
            src="./images/our-examples/example-3.jpg"
            alt="борода"
          />
        </div>
      </li>
      <li class="examples-item">
        <div class="thumb">
          <img
            srcset="
              ./images/our-examples/example-4.jpg    1x,
              ./images/our-examples/example-4@2x.jpg 2x,
              ./images/our-examples/example-4@3x.jpg 3x
            "
            src="./images/our-examples/example-4.jpg"
            alt="тату"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
