<section class="prices">
  <div class="container">
    <p class="prices-subtitle">Проведи время в компании лучших мастеров</p>
    <h2 class="prices-title" id="prices">Услуги и цены</h2>
    <ul class="pricelist">
      <li class="pricelist-left">
        <ul>
          <li class="item">
            Мужская стрижка<span class="prices-border"></span>от 300 грн.
          </li>
          <li class="item">
            Стрижка бороды <span class="prices-border"></span> от 200 грн.
          </li>
          <li class="item">
            Стрижка усов <span class="prices-border"></span> от 200 грн.
          </li>
          <li class="item">
            Бритье опасной бритвой <span class="prices-border"></span> от 200
            грн.
          </li>
        </ul>
      </li>
      <li class="pricelist-right">
        <ul>
          <li class="item">
            Cтрижка у стажера <span class="prices-border"></span> от 50 грн.
          </li>
          <li class="item">
            Стрижка под насадку <span class="prices-border"></span> от 200 грн.
          </li>
          <li class="item">
            Детская стрижка (до 12 лет) <span class="prices-border"></span> от
            300 грн.
          </li>
          <li class="item">
            Камуфлирование седины <span class="prices-border"></span> от 200
            грн.
          </li>
        </ul>
      </li>
    </ul>
    <div class="prices-box">
      <a class="prices-button" href="#subscribe">онлайн-запись</a>
    </div>
  </div>
</section>
